body {background-color: wheat;}

ul { list-style-type: circle;

}

.tab button:hover {
    background-color:whitesmoke;
  }
  .tab button {
    display: block;
    background-color:wheat;
    color: black;
    padding: 109px 80px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
border: transparent;
  }

  h1 {
text-align: center;
font-size: 70px;
  }

p {
text-align: center;
margin-right: 900px;
font-size: 30px;
margin-left: 100px;
}

img {
    position: absolute;
    left: 1400px;
    top: 200px;
    z-index: -1;
    width: 300px;
  }

#ka {
  width: 750px;
  height:500px;
  position: absolute;
  left: 1100px;
  top: 200px;
  z-index: -1;
}

#jag {
width: 400px;
height: 600px;
position: absolute;
left: 1200px;
top: 200px;
z-index: -1;
}